html {
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.main {

    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #020007, #01060a);
}

nav {
width: 80%;
padding:20px ;
margin: auto;
z-index: 1;
display:flex;
align-items: center;
}

.logo {
    flex-basis: 20%;

}

.logo img {
    width: 200px;
    border-radius: 10px;
    position: relative;
    left: -5rem;
}
.nav-links {
    flex:1;
    text-align: right;
    
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}
.nav-links ul li a {
    color:#fff;
    text-decoration: none;
}
.information {
    width:1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left:-10%;
transform:translateY(-50%);
}
#circle {
    width:1000px;
    height: 1000px;
    top:0;
    left:0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 0.4s;
} 

.feature img {
    width:200px;
    position: relative;
    object-fit: contain;
    border-radius: 10%;
}
.feature {
 
    color: #fff;
    position: absolute;
}
.feature div {
display: flex;    
flex-direction: column;
justify-content: center;
align-items: flex-end;
color:honeydew;
}
.feature div p {
    font-size: small;
margin-top: 8px;
}
.one {
top:350px;
right:10px;
}
.two {
top:-74px;
left:422px;
transform:rotate(-90deg);
}
.three {
    bottom:350px;
    left:10px;
    transform:rotate(-180deg);

} 
.four {
    bottom:-30px;
    right:420px;
    transform:rotate(-270deg);

}

.char {
    border-radius: 10px;
    position: absolute;
    width: 500px;
    top:50%;
    left:15%;
    transform: translateY(-50%);
    z-index: 1;
}
.controls {
    position: absolute;
    right:10%;
    top: 50%;
    transform: translateY(-50%);
text-align: center;
}

.controls h3 {
    margin: 15px 0;
color:#fff;
}

#upBtn {
    border: 3px solid grey;
width:20px;
cursor: pointer;
border-radius: 10px;
transform: rotate(180deg);
}

#downBtn {
    border: 3px solid grey;
    width:20px;
    cursor: pointer;
    border-radius: 10px;
}

#downBtn:hover {
width:21px
}
#upBtn:hover {
    width:21px
}
.overlay {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0; 
}



#clip {
    width: 1000px;
    height: 1000px;
    top: 0;
    left: 0;
    -webkit-mask-image: linear-gradient(225deg, #000 50%, transparent 50%), linear-gradient(-45deg, #000 50%, transparent 50%);
    mask-image: linear-gradient(225deg, #000 50%, transparent 50%), linear-gradient(-45deg, #000 50%, transparent 50%);
    -webkit-mask-size: 50% 50%, 50% 50%;
    mask-size: 50% 50%, 50% 50%;
    -webkit-mask-position: 100% 100%, 100% 0%;
    mask-position: 100% 100%, 100% 0%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  .sec-1 {
    
    height: 20rem;
      background-image: linear-gradient(
          115deg,
          rgba(206, 25, 216, 0.3),
          rgba(123, 38, 235, 0.3)
        ),
    url(navsussano.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .sec-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:45.05rem;
      background-image: linear-gradient(
          115deg,
          rgba(241, 65, 74, 0.2),
          rgba(179, 28, 171, 0.2)
        ),
    url(sussano.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sec-2 {
    width: 100%;
    height:100%;
     
  }
  .sec-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
  height:45.05rem;
    background-image: linear-gradient(
        115deg,
        rgba(86, 67, 87, 0.5),
        rgba(17, 5, 5, 0.5)
      ),
  url(madara.gif);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec-5 {
    display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
  height:45.05rem;
    background-image: linear-gradient(
        115deg,
        rgba(86, 67, 87, 0.5),
        rgba(17, 5, 5, 0.5)
      ),
  url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/27fc6bc6-4bac-4e74-bab9-7e3f47fda085/d6v6z6y-5eb80eb3-6ab8-4b4c-bc90-deb0746e505a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjdmYzZiYzYtNGJhYy00ZTc0LWJhYjktN2UzZjQ3ZmRhMDg1XC9kNnY2ejZ5LTVlYjgwZWIzLTZhYjgtNGI0Yy1iYzkwLWRlYjA3NDZlNTA1YS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.7PPhCQwr7o2gklMMfzHZuaqq9TFOrWE10AN6r1hPNfs);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
    transition: 1s;
    height:5rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome h1 {
    color: honeydew;

}
