*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.main {

    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #020007, #01060a);
}

nav {
width: 80%;
position: sticky;
margin: 20px auto;
z-index: 1;
display:flex;
align-items: center;
}

.logo {
    flex-basis: 20%;

}

.logo img {
    width: 200px;
    border-radius: 10px;
    position: relative;
    left: -5rem;
}
.nav-links {
    flex:1;
    text-align: right;
    
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}
.nav-links ul li a {
    color:#fff;
    text-decoration: none;
}
.information {
    width:1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left:-10%;
transform:translateY(-50%);
}
#circle {
    width:1000px;
    height: 1000px;
    top:0;
    left:0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 0.4s;
} 

.feature img {
    width: 100px;
    position: relative;
    object-fit: contain;
    border-radius: 10%;
}
.feature {
    display: flex;
    color: #fff;
    position: absolute;
}
.feature div {
    margin-left: 30px;
}
.feature div p {
margin-top: 8px;
}
.one {
top:450px;
right:50px;
}
.two {
top:150px;
left:350px;
transform:rotate(-90deg);
}
.three {
    bottom:450px;
    left:50px;
    transform:rotate(-180deg);

} 
.four {
    bottom:150px;
    right:350px;
    transform:rotate(-270deg);

}
.char {
    border-radius: 10px;
    position: absolute;
    width: 200px;
    top:50%;
    left:35%;
    transform: translateY(-50%);
    z-index: 1;
}
.controls {
    position: absolute;
    right:10%;
    top: 50%;
    transform: translateY(-50%);
text-align: center;
}

.controls h3 {
    margin: 15px 0;
color:#fff;
}

#upBtn {
    border: 3px solid grey;
width:20px;
cursor: pointer;
border-radius: 10px;
transform: rotate(180deg);
}

#downBtn {
    border: 3px solid grey;
    width:20px;
    cursor: pointer;
    border-radius: 10px;
}

#downBtn:hover {
width:21px
}
#upBtn:hover {
    width:21px
}
.overlay {
    width: 0;
    height: 0;
    border-top: 500px solid #ccc;
    border-right: 500px solid black;
    border-bottom: 500px solid #ccc;
    border-left :500px solid #ccc;
    position: absolute;
    left: 0;
    top: 0; 
}

.cover1 {
position: absolute;
width: 100px;
background-color: red;
height: 100px;
}
.cover2 {
position: absolute;    
}
.cover2 {
position: ;    
}

#clip {
    width: 1000px;
    height: 1000px;
    top: 0;
    left: 0;
    -webkit-mask-image: linear-gradient(225deg, #000 50%, transparent 50%), linear-gradient(-45deg, #000 50%, transparent 50%);
    mask-image: linear-gradient(225deg, #000 50%, transparent 50%), linear-gradient(-45deg, #000 50%, transparent 50%);
    -webkit-mask-size: 50% 50%, 50% 50%;
    mask-size: 50% 50%, 50% 50%;
    -webkit-mask-position: 100% 100%, 100% 0%;
    mask-position: 100% 100%, 100% 0%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }